<!-- Page Content -->

<div class="pt-32pt">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center">

            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Activities</h2>

                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="@Url.Action("","")">Home</a></li>

                    <li class="breadcrumb-item active">

                        Chat with a friend

                    </li>

                </ol>

            </div>
        </div>

    </div>
</div>
<div class="container page__container">
    <div class="page-section">

        <div class="row">
            <div class="col-md-12">
                <div id="divchat">
                    <div class="card card-body">
                        <div class="d-flex">
                            <a href=""
                               class="avatar avatar-sm avatar-online mr-12pt">
                                <span class="avatar-title rounded-circle">SY</span>
                            </a>
                            <div class="flex">
                                <p class="d-flex align-items-center mb-2">
                                    <a href=""
                                       class="text-body mr-2"><strong>Sunny Yang</strong></a>
                                </p>
                                <p>Hi, what would you like to talk about?</p>

                            </div>
                        </div>
                    </div>

                </div>
                <input type="hidden" id="GUID" value=""/>
                <div class="d-flex mb-4">
                    <a href=""
                       class="avatar avatar-sm mr-12pt">
                        <!-- <img src="../../public/images/people/50/guy-6.jpg" alt="people" class="avatar-img rounded-circle"> -->
                        <span class="avatar-title avatar-title-2 rounded-circle">ME</span>
                    </a>
                    <div class="flex">
                        <div class="form-group">
                            <label for="comment"
                                   class="form-label">Your reply</label>
                            <textarea class="form-control"
                                      name="comment"
                                      id="comment"
                                      rows="3"
                                      placeholder="Type here to reply to Sunny ..."></textarea>
                        </div>
                        <button id="btn" class="btn btn-outline-secondary">Post comment</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

@section HtmlHead{
    <style type="text/css">
   .avatar-title-2 {
       background-color: darkblue!important;   }     
   </style>
}

<!-- // END Page Content -->
<!-- // END Page Content -->
@section Scripts {

    <script type="text/javascript">
        $(document).ready(() => {

            $('#btn').click(function () {

                var chat = $('#comment').val();

                var input = {};
                input.message = chat;
                input.guid = $("#GUID").val();

                var myvar = '<div class="card card-body">' +
                    '                        <div class="d-flex">' +
                    '                            <a href=""' +
                    '                               class="avatar avatar-sm avatar-online mr-12pt">' +
                    '                                <span class="avatar-title avatar-title-2 rounded-circle">ME</span>' +
                    '                            </a>' +
                    '                            <div class="flex">' +
                    '                                <p class="d-flex align-items-center mb-2">' +
                    '                                    <a href=""' +
                    '                                       class="text-body mr-2"><strong>You</strong></a>' +
                    '                                </p>' +
                    '                                <p>' + chat + '</p>' +
                    '' +
                    '                            </div>' +
                    '                        </div>' +
                    '                    </div>';

                $('#divchat').append(myvar);

                $.ajax({
                    url: '/Prototypes/ChatScenarioPost',
                    method: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify(input)

                }).done(function (data) {

                    var myvar = '<div class="card card-body">' +
                        '                        <div class="d-flex">' +
                        '                            <a href=""' +
                        '                               class="avatar avatar-sm avatar-online mr-12pt">' +
                        '                                <span class="avatar-title rounded-circle">SY</span>' +
                        '                            </a>' +
                        '                            <div class="flex">' +
                        '                                <p class="d-flex align-items-center mb-2">' +
                        '                                    <a href=""' +
                        '                                       class="text-body mr-2"><strong>Sunny Yang</strong></a>' +
                        '                                </p>' +
                        '                                <p>' + data.message + '</p>' +
                        '' +
                        '                            </div>' +
                        '                        </div>' +
                        '                    </div>';


                    $('#divchat').append(myvar);
                    $("#GUID").val(data.guid);

                    $('#comment').val('');
                });
            });
        });
    </script>

}